<div class="form-registration">
  <h1>User Profile</h1>

  <h3>User information</h3>
  <p>Title: <%= @user.title %></p>
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>

  <h3>Current reservations</h3>

  <% @my_reservations.each do |stay| %>
  <p>Place: <%= stay.castle[:name] %></p>
  <p>Length of stay: <%= stay.check_in.strftime('%d-%m-%Y') %> - <%= stay.check_out.strftime('%d-%m-%Y') %></p>
  <p>Total price: £<%= number_with_delimiter(stay.total_price) %></p>
  <% end %>
</div>
