
<%# this page is not finished! %>
<h1 class="m-3">Hello <%= @user.first_name.capitalize.strip %>!</h1>

<div class="d-flex m-2 justify-content-center">
    <div class="form-registration m-3 rounded-4">
      <h3>User information</h3>
      <p>Title: <%= @user.title %></p>
      <p>Name: <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
      <p>Email: <%= @user.email %></p>
      <h3>Upcoming reservations</h3>
      <% @my_reservations.each do |stay| %>

        <div class="card-trip p-3 shadow-none bg-light">
            <% if stay.check_out > Date.today %>
              <div class="text-white bg-primary rounded-3 p-1 m-1 text-center">
                <h2><%= link_to stay.castle[:name],
                      castle_path(stay),
                      style: "text-decoration: none; color: white;" %></h2>

              </div>
                <p>From: <%= stay.check_in.strftime('%d-%m-%Y') %> </p>
                <p>To: <%= stay.check_out.strftime('%d-%m-%Y') %></p>
              <div class="d-inline-flex ml-auto badge text-white bg-primary rounded-3 p-2 m-1 text-wrap" style="--bs-bg-opacity: .5;">
                <p class="fw-lighter">Total price: <strong>£<%= number_with_delimiter(stay.total_price) %></strong></p>
              </div>
            <% end %>
      <% end %>
          </div>
        </div>
    </div>
    </div>

    <div class="form-registration m-3 rounded-4">
      <h2>Previous stays</h2>
      <div>
        <% @my_reservations.each do |stay| %>

          <% if stay.check_out <= Date.today %>
          <div class="card-trip p-3 mb-2">
              <h2><%= link_to stay.castle[:name],
                      castle_path(stay),
                      style: "text-decoration: none; color: black;" %></h2>
              <p>From: <%= stay.check_in.strftime('%d-%m-%Y') %></p>
              <p>To: <%= stay.check_out.strftime('%d-%m-%Y') %></p>
              <p class="btn btn-primary btn-sm mt-2"><%= link_to "Leave a review", new_reservation_review_path(stay), class: "text-white text-decoration-none" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>
