<div class="form-registration">

<h3>Book your stay at <%= @castle.name %>!</h3>

    <%= simple_form_for [@castle, @reservation] do |f| %>
        <%= f.input :check_in %>
        <%= f.input :check_out %>
        <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
 </div>
