<div class="card-trip">
  <% if castle.photo.attached? %>
    <%= cl_image_tag castle.photo.key %>
  <% else %>
    <%= image_tag castle.image_url %>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to castle.name,
              castle_path(castle),
              style: "text-decoration: none; color: black;"  %></h2>
      <p><%= castle.address %></p>
    </div>
    <h2 class="card-trip-pricing">£<%= number_with_delimiter(castle.price) %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
