<h1><%= @castle.name %></h1>

<h2>Key information</h2>

<ul>
  <li>
    <%= @castle.address %>
  </li>
  <li>
    <%= @castle.capacity %>
  </li>
  <li>
    <%= @castle.price %>
  </li>
</ul>

<h2>Other information</h2>

<ul>
  <li>
    <%= @castle.has_internet %>
  </li>
  <li>
    <%= @castle.has_swimming_pool %>
  </li>
  <li>
    <%= @castle.has_butlers %>
  </li>
  <li>
    <%= @castle.has_horses %>
  </li>
</ul>
